body{
    background-color: #e6ab71;
    background-image: url('../immagini/Images/Sfondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #1f1e2a;
    font-size: 20px;
    font-family: 'Sora', sans-serif;
    margin: 0%;
}

article{
    display: flex;
    height: 100vh;
}

section{
    background-color: #1f1e2a;
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    width: 400px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: calc(20vw - 160px);
}

main h1{
    margin-top: 15vh;
    font-size: 3em;
    font-family: 'Acme', sans-serif;
}

@media (max-width: 900px){
    body{
        background-image: none;
    }
    article{
        flex-direction: column;
    }
    section{
        width: 100%;
        height: 20vh;
    }
    main{
        margin-left: auto;
        margin-right: auto;
    }
}

form{
    width: 320px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px 30px 20px;
    border-radius: 5%;
}

form div{
    margin: 20px 0px 20px 0px;
}

form div div{
    margin: 0px;
}

input{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
}

#submitlabel{
    display: flex;
    justify-content: right;
}

#submitlabel input{
    border-radius: 100%;
    border: 0px;
    background-image: url('../immagini/Images/Submit.png');
    height: 40px;
    width: 40px;
    background-size: contain;
}

#submitlabel input:hover{
    cursor: pointer;
}

.errore{
    color: red;
    font-size: 0.7em;
}